<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>com.servlet.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartAddServlet</servlet-name>
    <servlet-class>com.servlet.CartAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
    
    <servlet-name>CartdelServlet</servlet-name>
    <servlet-class>com.servlet.CartdelServlet</servlet-class>
  </servlet>
  <servlet>
   
    <servlet-name>CartdelAllServlet</servlet-name>
    <servlet-class>com.servlet.CartdelAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAddServlet</servlet-name>
    <servlet-class>com.servlet.OrderAddServlet</servlet-class>
  </servlet>
  <servlet>
    
    <servlet-name>BasepriceServlet</servlet-name>
    <servlet-class>com.servlet.BasepriceServlet</servlet-class>
  </servlet>
  <servlet>
    
    <servlet-name>CartUpdateServlet</servlet-name>
    <servlet-class>com.servlet.CartUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDelServlect</servlet-name>
    <servlet-class>com.servlet.OrderDelServlect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderLineServlet</servlet-name>
    <servlet-class>com.servlet.OrderLineServlet</servlet-class>
  </servlet>
  <servlet>
   	<servlet-name>FindServlet</servlet-name>
    <servlet-class>com.servlet.FindServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>com.servlet.QuitServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/productDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/registerAction.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/loginAction.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartAddServlet</servlet-name>
    <url-pattern>/CartAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartdelServlet</servlet-name>
    <url-pattern>/CartdelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartdelAllServlet</servlet-name>
    <url-pattern>/CartdelAllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAddServlet</servlet-name>
    <url-pattern>/order.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BasepriceServlet</servlet-name>
    <url-pattern>/BasepriceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartUpdateServlet</servlet-name>
    <url-pattern>/CartUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDelServlect</servlet-name>
    <url-pattern>/OrderDelServlect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderLineServlet</servlet-name>
    <url-pattern>/OrderLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/FindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/QuitServlet</url-pattern>
  </servlet-mapping>
</web-app>
