<component name="ArtifactManager">
  <artifact type="war" name="SpringSpringMVCMyBatis:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSpringMVCMyBatis.war">
      <element id="artifact" artifact-name="SpringSpringMVCMyBatis:war exploded" />
    </root>
  </artifact>
</component>